NODE_ENV="production"

STEAM_ACCOUNT_NAME=""
STEAM_PASSWORD=""
STEAM_SHARED_SECRET=""
STEAM_IDENTITY_SECRET=""

PRICESTF_API_TOKEN=""
BPTF_ACCESS_TOKEN=""
BPTF_API_KEY=""

BPTF_DETAILS_BUY="I am buying your %name% for %price%, I have %current_stock% / %max_stock%."
BPTF_DETAILS_SELL="I am selling my %name% for %price%, I am selling %amount_trade%."
OFFER_MESSAGE=""

ENABLE_DUPE_CHECK=true
DECLINE_DUPES=false
MINIMUM_KEYS_DUPE_CHECK=10
ENABLE_MANUAL_REVIEW=true
AUTOBUMP=true

MINIMUM_SCRAP=9
MINIMUM_RECLAIMED=9
METAL_THRESHOLD=9

DISABLE_INVENTORY_SORT=false
DISABLE_LISTINGS=false
DISABLE_MESSAGES=false

SKIP_BPTF_TRADEOFFERURL=false
SKIP_ACCOUNT_LIMITATIONS=false
SKIP_UPDATE_PROFILE_SETTINGS=false

ALLOW_BANNED=false
ALLOW_ESCROW=false
ALLOW_OVERPAY=true
MAX_PRICE_AGE=28800

ADMINS=["<your steamid 64>"]
KEEP=["<steamid of person to keep in friendslist>"]
GROUPS=["103582791462300957"]
ALERTS=["none"]

DEBUG=false
DEBUG_FILE=true
